# Trello
TRELLO_API_KEY=tu_api_key_aqui
TRELLO_TOKEN=tu_token_aqui
TRELLO_BOARD_ID=tu_id_tablero
TRELLO_LIST_ID=tu_id_lista

# Google Drive
GOOGLE_DRIVE_CLIENT_ID=tu_client_id_google
GOOGLE_DRIVE_CLIENT_SECRET=tu_client_secret
GOOGLE_DRIVE_REFRESH_TOKEN=tu_refresh_token
GOOGLE_DRIVE_FOLDER_ID=id_de_la_carpeta_compartida

# General
GENERIC_TIMEZONE=America/Argentina/Buenos_Aires
